.parallax-window {
    min-height: 400px;
    background: transparent;
}

.top_wrapper {
    height: 80px;
    width: 100%;
    background-color: #0068dd;
    margin-top: -20px;
    margin-bottom: 50px;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.name {
    display: block;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;

    padding-top: 20px;
    color: white;
}

.bg_dark {
    background-color: #031e49;
    color: white;
}

#mapid {
    height: 600px;
    width: 100%;
}

.main_content {
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.submit {
    position: absolute;
    top: 0;
    right: 1.5%;
    width: 70px;
    height: 47px;
    border: none;
    outline: none;
    background: #1F75FE;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.main_footer {
    padding: 50px 0;
    font-size: 13px;
    font-weight: 300;
}
