<!DOCTYPE html>
<html>
<head>
    {% include "structure/head.html" %}
    {% include "structure/map_connect.html" %}
    <title>Schools of Moscow</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/mediamain.css"/>
    <link rel="stylesheet" href="/static/lib/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/static/lib/slider/nouislider.min.css">
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css'
          rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css'
          rel='stylesheet'/>
</head>
<body>
<div class="loader">
    <div class="loaderInner">
    </div>
</div>
<header class="main_head" data-parallax="scroll" data-image-src="/static/img/wall.jpg" data-z-index="1"
        position="top center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="" class="name">Schools of Moscow</a>
            </div>
            {% comment %}<div class="col-md-4 col-md-push-4">
                <a href="#about" class="mapbut">Школы на карте</a>
            </div>{% endcomment %}
        </div>
    </div>
    <div class="top_wrapper">
        <div class="top_descr">
            <div class="top_centered">
                <div class="top_text animated fadeInUp">
                    <h1>Воспользуйтесь картой для поиска</h1>
                    <div id="buttons">
                        <a href="#geomap" class="btn green">Открыть карту <i class="fas fa-sort-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="top_wrapper">
        <div class="top_text second">
            Воспользуйтесь картой для поиска наилчушего варианта
        </div>
        <div class="top_text">
            Подберите школу, основываясь на рейтинг ЕГЭ
        </div>
        <img src="img/top.svg" alt="Image description." class="imgg" />
        <button class="searchpage" onClick='location.href="search.html"'>
            Найти на карте
        </button>
    </div>-->
</header>
{#<section id="geomap" class="s_about light">#}
<div id="geomap" class="s_about light">
    <center><h2>Поиск</h2></center>
    <div class="container">
        <div class="col-md-12">
            <form class="search" action="/main" method="get">
                <input class="input" name="s" placeholder="Искать здесь..." type="search"/>
                <button class="submit" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="buttons"><span class="filterbut"><i class="fas fa-chevron-down"></i></span></div>
        </div>
    </div>
    <section class="filters inactive">
        <div class="container">
            <div class="col-md-6">
                <h1>Профиль:</h1>
                <div class="profiles">
                    {% for profile in profiles %}
                        <p><input type="checkbox" checked>{{ profile }}</p>
                    {% endfor %}
                </div>
                <div class="EGE">
                    <h1>Баллы ЕГЭ:</h1>
                    {% for subj in ege %}
                        <p>
                            <label for="amount_{{ subj }}"><h3>{{ subj }}</h3></label>
                            <input type="text" id="amount_{{ subj }}" readonly
                                   style="border:0; color:black; font-weight:bold; background-color: #dedede">
                        </p>
                        <div id="slider-range_{{ subj }}"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <h1>Округ:</h1>
                <div class="place">
                    {% for okrug in okrugs %}
                        <p><input type="checkbox" checked id="V_{{ okrug }}">{{ okrug }}</p>
                    {% endfor %}
                    {% comment %}<p><input type="checkbox" checked>Границы ключ переломлен пополам,</p>
                    <p><input type="checkbox" checked>А наш батюшка Ленин совсем усоп,</p>
                    <p><input type="checkbox" checked>Он разложился на плесень и на липовый мёд,</p>
                    <p><input type="checkbox" checked>А перестройка все идёт и идёт по плану,</p>
                    <p><input type="checkbox" checked>А вся грязь превратилась в голый лёд. </p>
                    <p><input type="checkbox" checked>И всё идёт по плану.</p>
                    <p><input type="checkbox" checked>А моя душа захотела на покой,</p>
                    <p><input type="checkbox" checked>Я обещал ей не участвовать в военной игре,</p>
                    <p><input type="checkbox" checked>Но на фуражке на моей серп и молот и звезда,</p>
                    <p><input type="checkbox" checked>Как это трогательно серп и молот и звезда,</p>
                    <p><input type="checkbox" checked>Лихой фонарь ожидания мотается,</p>
                    <p><input type="checkbox" checked>И ВСЕ ИДЕТ ПО ПЛАНУ</p>{% endcomment %}
                    <h1>Класс обучения:</h1>
                    <form class="radiobut" action="">
                        {% for class in classes %}
                            <div class="rb"><input name="class" type="radio" value="{{ class }}"><br>{{ class }}
                            </div>{% endfor %}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="buttons"><span class="filterbutsec inactive"><i class="fas fa-chevron-up"></i></span></div>

    {#    {% include "structure/map_init.html" %}#}
    <script>
        console.log("markers starting");
        let markerLayer = L.layerGroup([
            {% for coord in coordinates_showing %}
                {% if coord.isMain %}
                    L.marker({{ coord.latLng }}).bindPopup("<a href=\"/school?id={{ coord.ekis_id }}\">" + "{{ coord.name }}" + "</a>"),
                {% endif %}
            {% endfor %}
        ]);
    </script>
    <div class="container">
        <div class="col-md-12">
            <div id="map" class="map"></div>
            <script>

                let mapLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia3kzaGU0aWsiLCJhIjoiY2pvZnA0d3BzMDY3bDN4cXJ4eDg3NjE3NSJ9.SiLSIUGchbNQWCLmwSpTxQ',
                    {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>contributors, <ahref="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <ahref="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 16,
                        id: 'mapbox.streets',
                        accessToken: 'your.mapbox.access.token'
                    });

                const mmap = L.map('map', {
                    center: [55.75497, 37.62432],
                    zoom: 10,
                    layers: [mapLayer, markerLayer]
                });
                console.log("map done");
                {% comment %}let marker = L.marker([55.6, 37.5]).addTo(mmap);
                marker.bindPopup("123");
                marker.openPopup();{% endcomment %}
            </script>
        </div>
    </div>
</div>

{#</section>#}

<section id="about" class="s_about dark">

</section>
<!-- FOOTER -->
{% include "structure/footer.xml" %}

<script src="/static/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="/static/lib/jquery/jquery-ui.js"></script>
<script src="/static/lib/parallax/parallax.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key="></script> -->
<script src="/static/js/common.js"></script>
<script src="/static/lib/animate/animate-css.js"></script>
<script src="/static/lib/scroll/PageScroll2id.min.js"></script>
<script src="/static/lib/slider/nouislider.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>
