<html>
<head>
    <title>Школы Москвы</title>
    {% include "structure/map_loader.xml" %}
    <link rel="stylesheet" href="/static/css/site_rules.css">
</head>
<body bgcolor=#c1e1e7>
    <h1><font face = "Arial" size = "10"><center><b>Школы Москвы</b></center></font></h1>
    <div id="main_content">
        <form action="" method="get">
          <input name="s" placeholder="Искать здесь..." type="search">
          <button type="submit"></button>
        </form>
        <br/>
           <center><div id="mapid"></div>
           <script src="/static/js/map_init.js"></script>
           </center>
            <h2><font face = "Arial" size = "7"><center>
                <b>Общая информация</b>
            </center></font></h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    {% include "structure/footer.xml" %}
</body>
</html>
