<!DOCTYPE html>
<html>
<head>
    {% include "structure/head.html" %}
    {% include "structure/map_connect.html" %}
    <title>{{ name }} | SoM</title>

    <link rel="stylesheet" href="../static/css/mainSchool.css">
    <link rel="stylesheet" href="../static/css/media.css"/>
    <script src="../static/lib/chart/Chart.min.js"></script>
</head>
<body>
<div class="content">
    <div class="loader">
        <div class="loaderInner">
        </div>
    </div>
    <header class="main_head">
        <div class="container">
            <div class="col-md-4">
                <a href="/main" class="name">Schools of Moscow</a>
            </div>
            <div class="col-md-4 col-md-push-4">
                <!--<a href="#about" class="mapbut">Школы на карте</a>-->
                <input class="input" name="s" placeholder="Искать здесь..." type="search"/>
                <button class="submit" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <!--
        <div class="top_wrapper">
            <div class="top_text second">
                Воспользуйтесь картой для поиска наилчушего варианта
            </div>
            <div class="top_text">
                Подберите школу, основываясь на рейтинг ЕГЭ
            </div>
            <img src="img/top.svg" alt="Image description." class="imgg" />
            <button class="searchpage" onClick='location.href="search.html"'>
                Найти на карте
            </button>
        </div>-->
    </header>
    <div class="container">
        <section class="back">
            <div class="col-md-12 back">
                <section id="geomap" class="s_about light">
                    <h2>{{ name }}</h2>
                    <div class="buttons"><span class="filterbutsec active"><i class="fas fa-chevron-up"></i></span>
                    </div>
                    {% include "structure/map_init.xml" %}
                </section>
            </div>
            <div class="col-md-12 back">
                <div class="infoAbout"><h1>Информация о школе:</h1></div>
            </div>
            <div class="aboutt">
                <ul>
                    <li>Название: {{ name_full }}</li>
                    {% if site != 'nan' %}
                        <li>Сайт: <a href="http://{{ site }}/">{{ site }}</a></li>{% endif %}
                    {% if email != 'nan' %}
                        <li>E-mail: {{ email }}</li>{% endif %}
                    {% if principal != 'nan' %}
                        <li>Директор: {{ principal }}</li>{% endif %}
                    {% if stud_from != 'nan' %}
                        <li>В школе обучаются с {{ stud_from }} по {{ stud_to }} класс</li>{% endif %}
                    {% if profiles != '' %}
                        <li>Профили (на основании нашей аналитики): {{ profiles }}</li>{% endif %}
                    {% if legal_address != 'nan' %}
                        <li>Юридический адрес: {{ address }}</li>{% endif %}
                    {% if financing != 'nan' %}
                        <li>{{ financing }}</li>{% endif %}
                    {% if ogrn != 'nan' %}
                        <li>ОГРН: {{ ogrn }}</li>{% endif %}
                    {% if okato != 'nan' %}
                        <li>ОКАТО: {{ okato }}</li>{% endif %}
                    {% if ou_class != 'nan' %}
                        <li>{{ ou_class }}</li>{% endif %}
                    {% if extended_groups == True %}
                        <li>Есть группы продлённого дня</li>{% endif %}
                </ul>
            </div>
            <div class="col-md-12 back">
                <div class="text_gos"><h1>Результаты государственных экзаменов:</h1></div>
            </div>
            <div class="col-md-6 back">
                <section class="EGE">
                    <h1>ЕГЭ</h1>
                    <canvas id="EGE" width="100%"></canvas>
                    <script>
                        const ege_data = {
                            labels: [
                                {% for name, value in subjects_ege.items %}
                                    {% if value != 0 %}
                                        "{{ name }}",
                                    {% endif %}
                                {% endfor %}
                            ],
                            datasets: [{
                                label: "ЕГЭ",
                                backgroundColor: "rgba(200,0,0,0.5)",
                                data: [
                                    {% for _, value in subjects_ege.items %}
                                        {% if value != 0 %}
                                            {{ value }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            }]
                        }
                    </script>
                </section>
            </div>
            <div class="col-md-6 back">
                <section class="OGE">
                    <h1>ОГЭ</h1>
                    <canvas id="OGE" width="100%"></canvas>
                    <script>
                        const oge_data = {
                            labels: [
                                {% for name, value in subjects_oge.items %}
                                    {% if value != 0 %}
                                        "{{ name }}",
                                    {% endif %}
                                {% endfor %}
                            ],
                            datasets: [{
                                label: "ОГЭ",
                                backgroundColor: "rgba(200,0,0,0.5)",
                                data: [
                                    {% for _, value in subjects_oge.items %}
                                        {% if value != 0 %}
                                            {{ value }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            }]
                        }
                    </script>
                </section>
            </div>
            <div class="col-md-12 back">
                <div class="addresses">
                    <h1>Адреса школ</h1>
                    {% for address in addresses %}
                        {% if address.isMain %}
                            <li>Главный корпус: {{ address.fullname }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for address in addresses %}
                        {% if not address.isMain %}
                            <li>{{ address.fullname}}</li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 back">
                <div class="schools"><h1>Школы, похожие на эту:</h1>
                    <ul>
                        {% for ekis, name in schools_like_this %}
                            <li><a href="school?id={{ ekis }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- FOOTER -->
{% include "structure/footer.xml" %}

<script src="../static/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="../static/lib/parallax/parallax.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="../static/lib/animate/animate-css.js"></script>
<script src="../static/lib/scroll/PageScroll2id.min.js"></script>
<script src="../static/js/commonSchool.js"></script>
<script>
    function onClick(e) {
        e.openPopup();
    }

    console.log("markers starting");
    {% for address in addresses %}L.marker({{ address.latLng }}).addTo(mymap).on('click', onClick)
    {% if address.isMain %}.bindPopup("<b>" + {{ address.fullname }} +"</b><br/>Главный корпус");
        mymap.setView({{ address.latLng }}, 13);
    {% else %}.bindPopup({{ address.fullname }});
    {% endif %}
        console.log("marker:" + {{ address.latLng }});
    {% endfor %}
    console.log("markers done");
</script>
</body>
</html>
