<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ name }} | SoM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/lib/animate/animate.min.css"/>
    <link rel="stylesheet" href="../static/lib/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mainSchool.css">
    <link rel="stylesheet" href="../static/css/media.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="../static/lib/chart/Chart.min.js"></script>
</head>
<body>
<div class="content">
    <div class="loader">
        <div class="loaderInner">
        </div>
    </div>
    <header class="main_head">
        <div class="container">
            <div class="col-md-4">
                <a href="" class="name">Schools of Moscow</a>
            </div>
            <div class="col-md-4 col-md-push-4">
                <!--<a href="#about" class="mapbut">Школы на карте</a>-->
                <input class="input" name="s" placeholder="Искать здесь..." type="search"/>
                <button class="submit" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <!--
        <div class="top_wrapper">
            <div class="top_text second">
                Воспользуйтесь картой для поиска наилчушего варианта
            </div>
            <div class="top_text">
                Подберите школу, основываясь на рейтинг ЕГЭ
            </div>
            <img src="img/top.svg" alt="Image description." class="imgg" />
            <button class="searchpage" onClick='location.href="search.html"'>
                Найти на карте
            </button>
        </div>-->
    </header>
    <div class="container">
        <section class="back">
            <div class="col-md-12 back">
                <section id="geomap" class="s_about light">
                    <h2>Школа №354</h2>
                    <div class="buttons"><span class="filterbutsec active"><i class="fas fa-chevron-up"></i></span>
                    </div>
                    {% include "structure/map_init.xml" %}
                </section>
            </div>
            <div class="col-md-12 back">
                <div class="infoAbout"><h1>Информация о школе:</h1></div>
            </div>
            <div class="aboutt">
                <ul>
                    <li>Название: {{ name_full }}</li>
                    {% if site != 'nan' %}
                        <li>Сайт: <a href="http://{{ site }}/">{{ site }}</a></li>
                    {% endif %}
                    {% if email != 'nan' %}
                        <li>E-mail: {{ email }}</li>
                    {% endif %}
                    {% if phone != 'nan' %}
                        <li>Телефон: {{ phone }}</li>
                    {% endif %}
                    {% if principal != 'nan' %}
                        <li>Директор: {{ principal }}</li>
                    {% endif %}
                    {% if stud_from != 'nan' %}
                        <li>В школе обучаются с {{ stud_from }} по {{ stud_to }} класс</li>
                    {% endif %}
                    <li>Профили (на основании нашей аналитики): {% for profile in profiles %}{{ profile }} {% endfor %}</li>
                    {% if address != 'nan' %}
                        <li>Юридический адрес: {{ address }}</li>
                    {% endif %}
                    {% if ogrn != 'nan' %}
                        <li>ОГРН: {{ ogrn }}</li>
                    {% endif %}
                    {% if okato != 'nan' %}
                        <li>ОКАТО: {{ okato }}</li>
                    {% endif %}
                        <li>{{ ou_type }}<br/>{{ ou_class }}</li>
                    {% if extended_groups == True %}
                        <li>Есть группы продлённого дня</li>
                    {% endif %}
{#                    <li>Средний балл по ЕГЭ: {{ ege_mean }}</li>#}
                </ul>
            </div>
            <div class="col-md-12 back">
                <div class="text_gos"><h1>Результаты государственных экзаменов:</h1></div>
            </div>
            <div class="col-md-6 back">
                <section class="EGE">
                    <h1>ЕГЭ</h1>
                    <canvas id="EGE" width="100%"></canvas>
                    <script>
                        const ege_data = {
                            labels: [
                                {% for name in subjects_ege %}"{{ name }}", {% endfor %}
                            ],
                            datasets: [{
                                label: "ЕГЭ",
                                backgroundColor: "rgba(200,0,0,0.5)",
                                data: [
                                    {% for _, value in subjects_ege.items %}{{ value }}, {% endfor %}
                                ]
                            }]
                        }
                    </script>
                </section>
            </div>
            <div class="col-md-6 back">
                <section class="OGE">
                    <h1>ОГЭ</h1>
                    <canvas id="OGE" width="100%"></canvas>
                    <script>
                        const oge_data = {
                            labels: [
                                {% for name in subjects_oge %}"{{ name }}", {% endfor %}
                            ],
                            datasets: [{
                                label: "ОГЭ",
                                backgroundColor: "rgba(200,0,0,0.5)",
                                data: [
                                    {% for _, value in subjects_oge.items %}{{ value }}, {% endfor %}
                                ]
                            }]
                        }
                    </script>
                </section>
            </div>
            <div class="col-md-6 back">
                <div class="addresses">
                    <h1>Адреса школ</h1>
                    {% for address in addresses %}
                        {% if address.isMain %}
                            <li>Главный корпус: {{ address.fulltext }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for address in addresses %}
                        {% if not address.isMain %}
                            <li>{{ address.fulltext }}</li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 back">
                <div class="schools"><h1>Школы, похожие на эту:</h1>
                    <ul>
                        {% for ekis, name in schools_like_this %}
                            <li><a href="school?id={{ ekis }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- FOOTER -->
{% include "structure/footer.xml" %}

<script src="../static/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="../static/lib/parallax/parallax.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="../static/lib/animate/animate-css.js"></script>
<script src="../static/lib/scroll/PageScroll2id.min.js"></script>
<script src="../static/js/commonSchool.js"></script>
<script>
    function onClick(e) {
        e.openPopup();
    }

    console.log("markers starting");

    {% for address in addresses %}
        var marker = L.marker({{ address.latLng }}).addTo(mymap);
        {% if address.isMain %}
            mymap.setView({{ address.latLng }}, 11);
            marker.bindPopup("<b>" + {{ address.fullname }} +"</b><br/>Главный корпус");
        {% else %}
            marker.bindPopup({{ address.fullname }});
        {% endif %}
        marker.on('click', onClick);
        console.log("marker:" + {{ address.latLng }});
    {% endfor %}
    console.log("markers done");
</script>
</body>
</html>
